body{
    background-color: #f5ebdb;
}

 .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 45px;
}


#logo{
    width: 60px;
    height: 60px;
    margin-right: 100px;
}

.item-menu{
    font-family: nunito;
    font-size: 25px;
    font-weight: 900;
    color:#502314;
    margin: 30px;
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: space-around;
    background-color:#ebc2b4 ;
    padding: 30px;
}

.mostruario{
    width: 625px;
    border-radius: 20px;
}

.descricao{
    font-size: 20px;
    color:#ffffff;
    font-family: nunito;
    background-color:#502314;
    border-radius: 25px;
    margin-right: 20px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.title{
    color:#502314;
    font-size: 30px;
    font-family: nunito;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    margin-top: 40px;
}

.geral{
    display: flex;
}

.itens-geral{
    background-color: #ebc2b4 ;
    padding: 10px;
    margin-right:30px;
    margin-top: 30px;
    border-radius: 25px;
}

.itens{
    width: 360px;
}

.especial{
    width: 445px;
}

.name{
    font-family: nunito ;
    font-size: 20px;
    color: #502314 ;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    height: 35px;
}

.itens2{
    width: 220px;
}